{% extends "base.html" %}

{% block content %}
    <h1>IT Company Task Manager</h1>
    <p>Welcome to Best Task Manager Ever!</p>
    <h2>Dynamic content</h2>
    <p>The Task Manager service has the following record counts:</p>
    <ul>
        <li><strong>Teams:</strong> {{ num_teams }}</li>
        <li><strong>Projects:</strong> {{ num_projects }}</li>
        <li><strong>Workers:</strong> {{ num_workers }}</li>
    </ul>

    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>

{% endblock %}
