{% extends "base.html" %}

{% block content %}
  <h1>
    Task: {{ task }}
    <a href="{% url 'task_manager:task-delete' pk=task.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'task_manager:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Project: {{ task.projects.name }}</p>
  <h1>
    Workers
  </h1>
  <hr>
  <ul>
    {% for worker in task.assigned_to.all %}
      <li>{{ worker.username }} ({{ worker.first_name }} {{ worker.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
