{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Task Type list
    <a href="{% url "task_manager:tasktype-create" %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  
  {% if tasktype_list %}
    <ul>
      {% for tasktype in tasktype_list %}
        <li>
          <a href="{% url "task_manager:tasktype-detail" pk=tasktype.id %}">{{ tasktype.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no Task Type</p>
  {% endif %}
{% endblock %}
