{% extends "base.html" %}

{% block content %}
  <h1>
    Team list
    <a href="{% url "task_manager:team-create" %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if team_list %}
    <ul>
      {% for team in team_list %}
        <li>
          <a href="{% url "task_manager:team-detail" pk=team.id %}">{{ team.id }}</a>
          {{ team.name }} ({{ team.project.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no team</p>
  {% endif %}
{% endblock %}
